* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --strngCyan: hsl(171, 66%, 44%);
  --lightBlue: hsl(233, 100%, 69%);
  --darkgreBlu: hsl(210, 10%, 33%);
  --grayishBlue: hsl(201, 11%, 66%);
}
body {
  font-family: "Bai Jamjuree", sans-serif;
  text-align: center;
}
header {
  background-image: url("/images/bg-header-mobile.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  padding: 80px 15px 0 15px;
}

.buttons {
  display: flex;
  flex-direction: column;
}

h1,
p {
  margin-bottom: 25px;
}
p {
  color: var(--grayishBlue);
}
h1 {
  color: #4c545d;
}
.btn {
  border: none;
  border-radius: 50px;
  color: #fff;
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 16px;
  font-weight: 600;
  padding: 15px 35px;
  margin: 15px 35px;
}

.ios {
  background: var(--strngCyan);
  /*
  box-shadow: 0 4px hsl(171deg 68% 36%); */
}
.ios:hover {
  box-shadow: 0 4px hsl(171deg 68% 36%);
  cursor: pointer;
}
.mac {
  background: var(--lightBlue);
}

.mac:hover {
  box-shadow: 0 4px hsl(233deg 71% 61%);
  cursor: pointer;
}
/*end of header section */

.track {
  margin-top: 50px;
  padding: 30px 15px 0 15px;
}

h2,
h3 {
  margin-bottom: 30px;
  margin-top: 15px;
  color: #4c545d;
}

.laptop {
  max-width: 100%;
}

.section2 {
  padding: 30px;
}

.theses {
  margin-top: 20px;
}

.grid {
  margin-top: 70px;
}

.paraa {
  padding-left: 15px;
  padding-right: 15px;
}

.logoss {
  margin-bottom: 80px;
}

.logoss img {
  width: 120px;
}

.logo-section {
  margin-top: 70px;
}

footer {
  background: hsl(0, 0%, 93%);
  color: #4c545d;
  margin-top: 40px;
  padding-bottom: 10px;
  padding-top: 30px;
}

li {
  padding-bottom: 30px;
  padding-top: 15px;
}

.social-link {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  /*
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-right: 3px; */
}

ul {
  list-style-type: none;
}
.footer-logo {
  width: 64px;
}

.section3 h2,
.section4 h2 {
  padding-left: 7px;
  padding-right: 7px;
}

/*MEDIA QUERIES */
@media only screen and (min-width: 769px) {
  header {
    background-image: url("/images/bg-header-desktop.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  header p {
    width: 55%;

    font-size: 1rem;
    line-height: 1.5;
    margin: auto;
    margin-bottom: 35px;
  }
  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  h1 {
    margin-top: 35px;
  }

  .paragraph2 {
    width: 60%;
    line-height: 1.5;
    font-size: 1rem;
    margin: auto;
    margin-bottom: 35px;
  }
  .section2 {
    /*
    display: grid;
    grid-template-columns: 2fr 1fr; */
    display: flex;
  }
  .theses {
    text-align: start;
    margin-top: 0;
    margin-right: 10px;
  }
  .one {
    width: 70%;
  }
  .twoo {
    width: 670px;
    margin-top: 20px;
  }
  .section3 p,
  .clipboard p {
    width: 50%;
    line-height: 1.5;
    font-size: 1rem;
    margin: auto;
    margin-bottom: 25px;
  }
  .grided {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 30px;
    margin-right: 30px;
  }
  .logo-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-top: 100px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
